/*
 * COLORS
 *
 * Dark Grey (text): #2d3c49
 * Light Grey (project img border): #bdbdbd
 * Orange (logo, lines): #fb8c00
 */

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #2d3c49; /* Dark Grey */
  padding: 16px;
}

/* Image Responsive */
img {
  width: 100%;
  height: auto;
  display: block;
}


/*
 * General
 */
p {
  text-align: center;
}


/*
 * Header
 */

/* Container */
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Content */
.logo {
  width: 15%;
  font-family: "Indie Flower", cursive;
  font-size: 2.5em;
  font-weight: lighter;
  color: #fb8c00; /* Orange  */
  margin: 0;
  padding: 0;
}

.name-box {
  width: 85%;
  text-align: right;
  margin-right: 0;
}

.name {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.role {
  font-size: 0.75em;
  margin: 0;
  font-weight: 500;
}

/* Horizontal line */
.horizontal-line {
  margin: 10px 0 16px 0;
  border-top: 1px solid #fb8c00; /* Orange  */
}

/* Bio section */
.pic {
  width: 30%;
  float: left;
  margin-right: 16px;
  padding: 8px;
}

.elevator-pitch > p {
  text-align: left;
}

/* Projects header */
.projects-header {
  font-weight: lighter;
  text-align: center;
  width: auto;
}

.projects-header > span {
  border-bottom: 1px solid #fb8c00;
  padding: 0 16px;
}


/*
 * Section Projects
 */

/* Container */
.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Single Project Box */
.project-box {
  margin-bottom: 16px;
  width: 100%;
}

/* Single project box content */
.description {
  font-size: 0.75em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.project-img {
  border: 1px solid #bdbdbd; /* Light Grey */
}

.project-name {
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center;
  font-weight: lighter;
}

/** FOOTER **/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  font-size: 0.75em;
  padding-left: 16px;
}

.email > a{
  text-decoration: none;
  color: #2d3c49;
}

.social-icons {
  display: flex;
}

.icon {
  width: 32px;
}

/*
 * MEDIA QUERIES
 */

/* Minor breakpoint to adapt font size */
@media screen and (min-width: 400px) {
  .description {
    font-size: 0.9em;
  }

  .logo {
    font-size: 3em;
  }

  .name {
    font-size: 2.4em;
  }

  .role {
    font-size: 1em;
  }

  .projects-header {
    font-size: 1.6em;
  }
}

/* Minor breakpoint to adapt font size */
@media screen and (min-width: 522px) {
  .pic {
    width: 25%;
  }
}

/* Minor breakpoint to adapt font size */
@media screen and (min-width: 600px) {

  .projects-header {
    font-size: 1.8em;
  }

  .project-name {
    font-size: 1.5em;
  }

  .email {
    font-size: 0.9em;
  }

  .pic {
    width: 20%;
  }

  .icon {
    margin-left: 8px;
  }
}

/* Tablet view, projects in two columns */
@media screen and (min-width: 750px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .logo {
    font-size: 3.5em;
  }

  .name {
    font-size: 3em;
  }

  .role {
    font-size: 1.2em;
  }

  .projects-header {
    font-size: 2em;
  }

  .projects-container {
    justify-content: space-around;
  }

  .project-box {
    width: 48%;
  }
}

/* Minor breakpoint to adapt pic */
@media screen and (min-width: 780px) {
  .pic {
    width: 18%;
  }
}

/* Minor breakpoint to adapt pic */
@media screen and (min-width: 900px) {
  .pic {
    width: 15%;
  }
}

/* Desktop view, projects in three columns */
@media screen and (min-width: 1044px) {
  .logo {
    font-size: 4em;
  }

  .name {
    font-size: 3.5em;
  }

  .role {
    font-size: 1.3em;
  }

  .projects-header {
    font-size: 2.5em;
  }

  .project-name {
    font-size: 1.6em;
  }

  .email {
    font-size: 1em;
  }

  .project-box {
    width: 32%;
  }

  .pic {
    width: 13%;
  }

  .icon {
    margin-left: 16px;
  }
}

/* Minor breakpoint to adapt pic */
@media screen and (min-width: 1060px) {
  .pic {
    width: 12%;
  }
}


/* Minor breakpoint, large desktop view */
@media screen and (min-width: 1120px) {
  .pic {
    width: 10%;
  }
}
